/* @import "../../colors.scss"; */

@keyframes dashdraw-chain {
    from {
        stroke-dashoffset: 13;
    }
}

:not(.no-chain-animation) .edge-chain.running {
    animation: dashdraw-chain 0.5s linear infinite !important;
}

.no-chain-animation .react-flow__edge.running path {
    animation: none !important;
}

.edge-chain-links {
    stroke-width: 2px !important; /* Añadido !important */
    transition-duration: 0.15s;
    transition-property: stroke-width, stroke;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    stroke-dasharray: 0 !important;
}

.edge-chain-links.hovered {
    stroke-width: 4px !important; /* Añadido !important */
}

.edge-chain-links.animated {
    stroke-dasharray: 0 !important;
}

.edge-chain-links.colliding {
    stroke-width: 8px !important; /* Añadido !important */
}

.edge-chain {
    stroke-width: 6px !important; /* Añadido !important */
    transition-duration: 0.15s;
    transition-property: stroke-width, stroke;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    stroke-dasharray: 1 10 !important;
    stroke-dashoffset: 2;
    stroke-linecap: round;
    animation: none; /* Se ha eliminado las comillas */
    opacity: 0;
}

.edge-chain.animated {
    stroke-dasharray: 1 10 !important;
}

.edge-chain.hovered {
    stroke-width: 16px !important; /* Añadido !important */
}

.edge-chain.running {
    animation: dashdraw-chain 0.5s linear infinite; /* Se ha eliminado las comillas */
    opacity: 1;
}

.edge-chain.colliding {
    stroke-width: 8px !important; /* Añadido !important */
}

.edge-chain.dot {
    stroke: var(--chain-hole-color) !important;
    stroke-width: 3px !important; /* Añadido !important */
}

.edge-chain.dot.animated {
    opacity: 1;
}

.edge-chain.dot.hovered {
    stroke-width: 4px !important; /* Añadido !important */
}

.edge-chain.dot.running {
    animation: dashdraw-chain 0.5s linear infinite; /* Se ha eliminado las comillas */
    opacity: 1;
}

/* Estilos de react-flow__edge y react-flow__edge-path */
.react-flow__edge {
    stroke: #222 !important; /* Estilo por defecto */
    transition: stroke 0.15s ease-in-out !important; /* Transición para el color */
    cursor: pointer !important; /* Cursor de puntero */
}

.react-flow__edge-path {
    stroke-width: 2px !important; /* Ancho de línea por defecto */
    transition: stroke-width 0.15s ease-in-out !important; /* Transición de ancho de línea */
}
