:root {
    --borderColor: #e4e4e4;
    --selectedBorderColor: rgb(96 165 250);
}

.react-flow__handle.handle {
    /* Especificidad aumentada */
    position: absolute !important;
    transition: 0.15s ease-in-out !important;
    cursor: crosshair !important;
    box-shadow: 0 0 0 1px white, 2px 2px 2px #ffffff14 !important;
    border: 1px solid var(--borderColor) !important;
    border-radius: 50% !important;
    background: white !important;
    width: 12px !important;
    height: 12px !important;
}

.react-flow__handle.handle-selected {
    border: 1px solid var(--selectedBorderColor) !important;
}

/* .handle-connected {
    border-width: 2px;
    border-color: var(--connectedColor);
    background: var(--connectedBg);
}

.react-flow__handle.handle-disconnected {
    border-width: 0 !important;
    border-color: transparent !important;
    background: var(--disconnectedBg) !important;
} */

.react-flow__handle.handle-invalid {
    opacity: 0.3 !important;
    filter: grayscale(100%) !important;
}

.react-flow__handle.handle-valid {
    opacity: 1 !important;
}

.react-flow__handle.handle:hover {
    width: 18px !important;
    height: 18px !important;
}

.react-flow__handle.handle:before {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 45px;
    height: 32px;
    content: " ";
}

/* .react-flow__handle.target-handle {
}

.react-flow__handle.source-handle {
} */
